font/MaterialSymbols.json
font/MaterialSymbols.symbol.svg
font/MaterialSymbols.woff
font/MaterialSymbols.woff2
font/MaterialSymbols.eot
font/MaterialSymbols.otf
font/MaterialSymbols.svg
font/MaterialSymbols.woff
font/MaterialSymbols.woff2